.accordions {
    .accordion {
        background-color: $green_1;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 14px;
        transition: .4s;
        .head {
            width: 100%;
            color: $brown;
            text-transform: uppercase;
            font-size: 20px;
            display: flex;
            flex-direction: row;
            cursor:pointer;
            padding: 16px;
            .title {
                color: $brown;
                text-transform: uppercase;
                font-size: 20px;
                font-weight: 900;
                width: 100%;
                margin: 0;
                align-self: flex-start;
            }
            .fa-caret-up, .fa-caret-down {
                align-self: flex-end;
            }
        }
        .content {
            padding: 16px;
            display: none;
            background-color: $green_1;
            border-bottom: 1px solid $green_2;
            border-left: 1px solid $green_2;
            border-right: 1px solid $green_2;
        }
    }
    .accordion:hover,
    .accordion.active {
        background-color: $green_2;
        transition: .4s;
    }
}