body {
  background-color: $green_1;
  // background-image: url('/scandere/wp-content/uploads/2018/07/background.svg');
  background-size: contain;
  background-repeat: repeat-y;
  font-family: 'Lato', sans-serif;
}


main {
  padding: 2em;
  background-color: white;
}

// @media screen and (max-width: $mobile) {
//   main {
//       background-color: blue;
//   }
// }

// @media screen and (min-width: $tablet) {
//   main {
//     background-color: green;
//   }
// }

@media screen and (min-width: $desktop) {
  main {
    margin: 0 15%;
  }

  .home-1 {
    h1 {
      margin-top: 8rem;
    }

    h2 {
      text-transform: uppercase;
      color:$green_2;
      font-weight: 600;
      text-align: center;
    }

  }
}

.home-1 {
  h1 {
    text-transform: uppercase;
    color:$green_2;
    font-weight: 900;
    text-align: center;
  }

  h2 {
    text-transform: uppercase;
    color:$green_2;
    font-weight: 600;
    text-align: center;
  }

  p {
    text-transform: uppercase;
    color:$green_2;
    font-weight: 600;
    text-align: center;
  }

  .scroll-icon, .scroll-icon:before {
  position: absolute;
  left: 50%;
}

.scroll-icon {
  width: 50px;
  height: 85px;
  top: 60%;
  border: 2px solid $green_3;
  border-radius: 28px;
  display: flex;
}

.scroll-icon:before {
  content: '';
  width: 6px;
  height: 10px;
  border-radius: 30%;
  background: $green_3;
  top: 6px;
  left:20px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    top: 70px;
  }
}
}

@media screen and (max-width: $desktop) {
  .home-2 {
    height: auto!important;
  }
}