footer {
  background-color: $brown;
  padding: 2em 15%;
  
  .footer-content {
    .footer-menu {
      display: flex;
      align-items: center;
      .footer-leaf {
        width: 200px;
        max-width: 200px;
        min-width: 200px;
        height: 70px;
        margin-right: -8rem;
      }
      a {
        color: white;
        position: relative;
        left: -2rem;
        display: flex;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
      }
      a:hover {
        color: #ffffffb6;
        background: transparent !important;
      }
    }
    .footer-image {
      display: flex;
      justify-content: center;
      img {
        width: 5rem;
      }
    }
  }

  .footer-info {
    display: flex;
    flex-direction: column;
    position: relative;
    left:3rem;
    .footer-info-links {
      a {
        color: white;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 900;
        margin-right: 2rem;
      }
      a:hover {
        color: white;
        background: transparent !important;
      }
    }
    .footer-info-text {
      p {
        color: white;
        font-weight: 600;
      }
    } 
  }
}

@media screen and (max-width: $desktop) {
  footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .footer-info {
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      width: 100%;
      left:unset;
      .footer-info-links {
        a {
          margin: 0;
        }
      }
    }
    .footer-image {
      display: flex;
      justify-content: center;
      img {
        max-width: 4rem !important;
      }
    }
  }
}