.nav-mobile {
  background-color: $green_2;
  height: 4em;
  position: fixed;
  width: 100%;
  top: 0;

  .navbar-brand {
    align-items: center;

    .navbar-item.logo {
      margin: 0 auto;

      .logo-svg {
        height: 3em;
      }
    }

    .navbar-burger {
      position: absolute;
      right: 0;
      height: 4em;
      width: 4em;

      span {
        height: 3px;
        color: $brown;
        width: 34px;
        height: 5px;
        left: calc(38% - 8px);
      }

      span:nth-child(1) {
        top: calc(40% - 6px);
      }

      span:nth-child(3) {
        top: calc(60% + 4px);
      }
    }

    .is-active {
      span:nth-child(1) {
        top: calc(50% - 6px);
      }

      span:nth-child(3) {
        top: calc(50% + 4px);
      }
    }
  }

  .navbar-menu {
    display: flex;
    justify-content: center;
    pointer-events: none;
    align-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: $green_1;
    z-index: -1;
    transition: 0.4s ease-in-out;
    opacity: 0;
    border: 0.3rem $green_2 solid;

    .navbar-item {
      align-self: center;
      font-size: 1.4em;
      font-weight: 900;
      color: $green_2;
      text-transform: uppercase;
      transition: 0.2s ease-in-out;
      
    }

    .navbar-item:hover {
      color: $green_3;
      background-color: transparent;
      transition: 0.2s ease-in-out;
    }
  }

  .navbar-menu.is-active {
    transition: 0.4s ease-in-out;
    opacity: 1;
    display: flex;
    pointer-events: all;
  }
}

.bloc-contact-mobile {
  padding: 6em 2em 1em;

  .bloc-phone {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $green_2;
    font-size: 2em;
    font-weight: 900;
    text-align: center;
    padding: 1em;
    color: white;
  }

  .bloc-adress {
    background-color: $green_3;
    display: flex;
    align-content: center;
    justify-content: center;
    color: white;

      h2 {
      font-weight: 600;
      text-transform: uppercase;
    }

    .fa-map-marker {
      font-size: 3em;
      margin: 0 0.4em;
      height: 100%;
    }
  }
}
