.nav-desktop {
  background-color: $green_3;
  height: 4rem;
  z-index: 1;

  .navbar-brand {
    align-items: center;
    position: relative;
    bottom: -4rem;
    left: 1rem;
    background-color: $green_2;
    height: 10rem;
    width: 10rem;

    .navbar-item.logo {
      margin: 0 auto;

      .logo-svg {
        height: 5rem;
      }
    }

    .navbar-burger {
      position: absolute;
      right: 0;
      height: 4rem;
      width: 4rem;

      span {
        height: 3px;
        color: $brown;
        width: 34px;
        height: 5px;
        left: calc(38% - 8px);
      }

      span:nth-child(1) {
        top: calc(40% - 6px);
      }

      span:nth-child(3) {
        top: calc(60% + 4px);
      }
    }

    .is-active {
      span:nth-child(1) {
        top: calc(50% - 6px);
      }

      span:nth-child(3) {
        top: calc(50% + 4px);
      }
    }
  }

  .navbar-tagline {
    color: white;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    position: relative;
    left: -10px;

    strong {
      color: white;
      margin-right: 0.2rem;
    }
  }

  .navbar-end {
    color: white;
    font-weight: 600;
    font-size: 1.4rem;
    margin-right: 3rem;

    .bloc-adress-desktop,
    .bloc-phone {
      background-color: $green_2;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 0.8rem;
      margin: 0 0.4rem;
      cursor: pointer;
    }
  }
}

.navbar-menu-svg {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  z-index: 0;
  height: 10rem;
  width: 100%;
  .leaf {
    animation: 2s shake infinite;
    animation-play-state: paused;
  }
  .leaf:hover {
    animation-play-state: running;
  }
}

.leaf-desktop {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;

  .navbar-item {
    color: white;
    margin: 0 0.7rem;
    font-weight: 600;
  }

  .navbar-item:hover {
    color: white;
    background-color: transparent;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 0);
    transform: rotate(-.3deg);
  }

  25% {
    transform: translate(-1px, 0);
    transform: rotate(.3deg);
  }

  50% {
    transform: translate(1px, 0);
    transform: rotate(-.3deg);
  }

  75% {
    transform: translate(-1px, 0);
    transform: rotate(.3deg);
  }

  100% {
    transform: translate(1px, 0);
    transform: rotate(-.3deg);
  }
}

.text-overlay-desktop {
  background-color: $green_3;
  position: absolute;
  top:5rem;
  right:1rem;
  padding: 1rem;
  display: none;
  .fa-caret-up {
    color:$green_3;
    font-size: 2rem;
    position:absolute;
    top:-1.2rem;
    right:3rem;
  }
  h2 {
    font-weight: bold;
    text-transform: uppercase;
  }
  p {
    font-size: 1rem;
  }
}

.text-overlay-desktop.show {
  display: block;
}
