.home-2 {
  height: 180rem;
  .leaf-tree {
    width: 10rem;
    position: absolute;
    visibility: hidden;
    width: 20%;
    z-index: 1;
  }

  #leaf-tree-1 {
    transform: rotate(5deg);
    left:40%;
    top:46rem;
  }

  #leaf-tree-2 {
    transform: rotate(280deg);
    left: 24%;
    top: 78rem;
  }

  #leaf-tree-3 {
    transform: rotate(60deg);
    left: 58%;
    top: 70rem;
  }

  #leaf-tree-4 {
    transform: rotate(250deg);
    left: 22%;
    top: 106rem;
  }

  #leaf-tree-5 {
    transform: rotate(240deg);
    left: 22%;
    top: 109rem;
    z-index: 0;
  }

  #leaf-tree-6 {
    transform: rotate(120deg);
    left: 58%;
    top: 104rem;
  }

  #leaf-tree-7 {
    transform: rotate(125deg);
    left: 58%;
    top: 108rem;
    z-index: 0;
  }

  #leaf-tree-8 {
    transform: rotate(230deg);
    left: 25%;
    top: 138rem;
  }

  #leaf-tree-9 {
    transform: rotate(110deg);
    left: 57%;
    top: 134rem;
  }

  #leaf-tree-10 {
    transform: rotate(170deg);
    top: 164rem;
    left: 43%;
  }

  .leaf-path-1,
  .leaf-path-2,
  .leaf-path-3,
  .leaf-path-4,
  .leaf-path-5,
  .leaf-path-6,
  .leaf-path-7,
  .leaf-path-8,
  .leaf-path-9 {
    fill: transparent;
  }


  .leaf-info {
    color:$brown;
    visibility: hidden;
    max-width: 20vw;
    position: absolute;
    z-index: 2;
    span {
      font-weight: 900;
      text-transform: uppercase;
      font-size: 3vw;
    }
    p {
      font-size: 1vw;
    }
  }

  #leaf-info-1 {
    top: 71rem;
    left: 35%;
  }

  #leaf-info-2 {
    top: 91rem;
    left: 25%;
  }

  #leaf-info-3 {
    top: 86rem;
    left: 55%;
  }

  #leaf-info-4 {
    top: 116rem;
    left: 27%;
  }

  #leaf-info-6 {
    top: 114rem;
    left: 56%;
  }

  #leaf-info-8 {
    top: 150rem;
    left: 24%;
  }

  #leaf-info-9 {
    top: 142rem;
    left: 55%;
  }

  #leaf-info-10 {
    top: 171rem;
    left: 46%;
  }

}
